.header{
  display: flex;
  height: 4rem;
  padding: 0.5em 1em;
}

.logo{
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.img{
  height: 70%;
  margin-right: 0.6em;
}

.title{
  font-size: 1.5rem;
}

.input {
  padding: 0 0.5em;
  flex-basis: 50%;
  font-size: 1.2rem;
  outline: 0;
}

.button {
  background-color: #eee;
  width: 4em;
  outline: 0;
}
.buttonImg{
  height: 100%;
  padding: 0.5em 0.2em; 
}